<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/all.css">

    <!-- font-awesome icon CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- COREUI icon CDN-->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/all.min.css">
    <!--google ICON CDN  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>IIOT Design System</title>
    <!-- 網頁頁枚標籤 -->
    <link rel="icon" href="../favicon.ico" />

</head>

<body class="bg-grayblue ">
    <div class="wrapper">


        <div class="d-flex flex-column flex-lg-row align-items-center p-3 px-md-4  border-bottom shadow-sm ">
            <div class="col-lg-2 com-sm-12 d-flex pl-sm-0">
                <button class="d-md-block d-lg-none  border-0 mr-3 bg-transparent" type="button" data-toggle="collapse"
                    data-target="#slidemenucontent" aria-controls="slidemenucontent" aria-expanded="true"
                    aria-label="Toggle mobile slidemenu">

                    <i class="fa-solid fa-bars text-secondary" style="font-size: 30px;"></i>
                </button>

                <a class="navbar-brand mr-md-auto" href="../index.html" alt="">
                    <img src="../img/logo-zh.png" width="auto" height="47px">
                </a>
                <button class="navbar-toggler d-block d-sm-none ml-auto border-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-square-caret-down text-secondary" style="font-size: 36px;"></i>

                </button>
            </div>
            <div class="col-lg-10 col-sm-12 d-flex justify-content-center">
                <nav class="my-2 my-md-0 mr-md-3 font-weight-bolder nav-masthead w-sm-100 d-none d-sm-block"
                    style="letter-spacing: 1.5px;">
                    <!-- <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none "
                        href="../index.html">Foundations(基礎)</a> -->
                    <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none"
                        href="../index.html">Design(設計)</a>
                    <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none  active"
                        href="#">Components(元件)</a>
                    <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none disabled"
                        href="#">Patterns(模板)</a>
                </nav>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class=" d-flex justify-content-sm-start justify-content-md-center ">
                        <nav class="my-2 my-md-0 mr-md-3 font-weight-bolder nav-masthead w-sm-100"
                            style="letter-spacing: 1.5px;">
                            <!-- <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none  active"
                                href="../index.html">Foundations(基礎)</a> -->
                            <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none"
                                href="../index.html">Design(設計)</a>
                            <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none "
                                href="#">Components(元件)</a>
                            <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none disabled"
                                href="#">Patterns(模板)</a>
                        </nav>



                    </div>
                </div>




            </div>
        </div>
        <div class="main-body ">
            <div class="container-fluid  ">
                <div class="row " style="font-size: 18px;">


                    <div class="col-xl-2 col-lg-3 col-md-12 bg-grayblue pt-md-2 ml-4 ml-md-0 px-4 slidemenu-height"
                        style="letter-spacing: 1.5px;line-height: 36px;">
                        <div class="collapse navbar-collapse" id="slidemenucontent">
                            <li class="slidemenu mt-3 mt-md-0 d-flex flex-column" style="list-style: none;">
                                <a href="#colorbook" title="點擊打開Color swatch book" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span>Color swatch book</span>
                                </a>
                                <ul class=" collapse " id="colorbook" style="list-style: none;margin-left: -2.5rem;">
                                    <li class=" ">
                                        <a href="./colorbook-iiot.html" title=""
                                            class="text-decoration-none text-dark  d-block pr-1">
                                            <span class="text-break">[ClassName]IIoT色票</span>
                                        </a>
                                        <a href="./colorbook-haggen.html" title=""
                                            class="text-decoration-none text-dark d-block pr-1 ">
                                            <span class="text-break">[ClassName]Haggen色票</span>
                                        </a>
                                    </li>
                                </ul>

                                <a href="#satu" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">Button</span>
                                </a>
                                <ul class=" collapse show" id="satu" style="list-style: none;margin-left: -2.5rem;">

                                    <li class="">
                                        <a href="./components.html" title="" class="text-decoration-none text-dark ">
                                            <span class="text-break">[Principle]Button 顏色x動作</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="./btn-principle-default-state.html" title=""
                                            class="text-decoration-none text-dark " disabled>
                                            <span class="text-break">[Principle]Button 默認狀態</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" title="" class="text-decoration-none text-dark " disabled>
                                            <span class="text-break">[Principle]Button 形狀與位置</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="./btn-code.html" title="" class="text-decoration-none  text-dark  ">
                                            <span class="text-break">[Documentation]Button html & css 組成</span>
                                        </a>
                                    </li>

                                    <li class="">
                                        <a href="#" title="" class="text-decoration-none   active " disabled>
                                            <span class="text-break">[Principle]常用icon + button </span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" title="" class="text-decoration-none disabled " disabled>
                                            <span class="text-break">[Components] ButtonList</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CardCollapse" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block ">
                                    <span class="text-break">CardCollapse</span>
                                </a>
                                <ul class="collapse" id="CardCollapse" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="./cardcollapse_principle.html" title=""
                                            class="text-decoration-none text-dark ">
                                            <span class="text-break">[Principle]Card Collapse</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CardCollapse</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CheckBox" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CheckBox</span>
                                </a>
                                <ul class="collapse" id="CheckBox" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CheckBox</span>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#CustomDataTable" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomDataTable</span>
                                </a>
                                <ul class="collapse" id="CustomDataTable"
                                    style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="./default-table.html" title="" class="text-decoration-none text-dark ">
                                            <span class="text-break">[Principle]default table</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]card table</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]collapse table</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CustomDataTable</span>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#CustomFormControl" title="點擊打開CustomFormControl menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomFormControl</span>
                                </a>
                                <ul class="collapse" id="CustomFormControl"
                                    style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]Custom Form Control</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Custom Form Control</span>
                                        </a>
                                    </li>
                                </ul>

                                <a href="#CustomModal" title="點擊打開CustomModal menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomModal</span>
                                </a>
                                <ul class="collapse" id="CustomModal" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]CustomModal</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CustomModal</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CustomScrollbar" title="點擊打開CustomScrollbar menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomScrollbar</span>
                                </a>
                                <ul class="collapse" id="CustomScrollbar"
                                    style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]CustomModal</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CustomModal</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CustomTabs" title="點擊打開CustomTabs menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomTabs</span>
                                </a>
                                <ul class="collapse" id="CustomTabs" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]Custom Tabs</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Custom Tabs</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#Datetime" title="點擊打開Datetime menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">Datetime</span>
                                </a>
                                <ul class="collapse" id="Datetime" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Datetime</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#LeafletMap" title="點擊打開LeafletMap menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">LeafletMap</span>
                                </a>
                                <ul class="collapse" id="LeafletMap" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]LeafletMap</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#ScrollAction" title="點擊打開ScrollAction menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">ScrollAction</span>
                                </a>
                                <ul class="collapse" id="ScrollAction" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]ScrollAction</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#ScrollTop" title="點擊打開ScrollTop menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">ScrollTop</span>
                                </a>
                                <ul class="collapse" id="ScrollTop" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]ScrollTop</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#Select" title="點擊打開Select menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">Select</span>
                                </a>
                                <ul class="collapse" id="Select" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Select</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#is8n" title="點擊打開is8n menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">is8n</span>
                                </a>
                                <ul class="collapse" id="is8n" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]is8n</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </div>



                    </div>


                    <div
                        class="col-xl-10 col-lg-9 col-md-12 pt-5 px-4 bg-white border-left border-right shadow-sm px-5 content-height pb-3">
                        <!-- <h4 class="pb-3">Button - shape 按鈕形狀與位置</h4> -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="">Home</a></li>
                                <li class="breadcrumb-item"><a href="">Components</a></li>
                                <li class="breadcrumb-item "><a href="">Button</a></li>
                                <li class="breadcrumb-item active" aria-current="page">[Principle]常用icon + button</li>
                            </ol>
                        </nav>
                        <hr>
                        <div class="d-block"><span class="h3">Button + icon</div>
                        <p>Button + icon 兩種使用方法</p>
                        <p>1.使用IIoT物聯網自製 ButtonList component，搭配<a href="https://icons.coreui.io/icons/"
                                target="_blank">COREUI icon</a>使用，
                            <a href="https://github.com/coreui/coreui-icons" target="_blank">github</a>
                        </p>
                        <p>2.若 <span>COREUI icon</span>找不到適當icon使用，更多icon可參考<a
                                href="https://react-icons.github.io/react-icons/icons?name=go" target="_blank">More
                                ICON</a></p>


                        <p>目前在IIoT物聯網採使用<span class="font-weight-bold">COREUI</span>元件<kbd class="mx-2">
                                < CButton>
                                    < /CButton>
                            </kbd>與<kbd class="ml-2">
                                < /CIcon>
                            </kbd>，製程的 component <span class="font-weight-bold">ButtonList</span> 引用，詳細使用方法參考 <a
                                href="#">[Components] ButtonList</a> </p>
                        <hr>
                        <p class="h4 text-sencondary mt-4">1.使用IIoT物聯網自製 ButtonList component</p>

                        <p>
                            因為icon 已使用props包在元件裡面，只要把對應icon class填入如: <span class="bg-grey p-1 text-code"> icon:
                                'cil-plus'</span>
                        </p>

                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button
                                            class="accordion-button btn btn-link btn-block text-left d-flex justify-content-between"
                                            type="button" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            ButtonList component React code
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="bg-grey p-3 ">
                                            <code class="">
                                            <p> < CButton ></p>
                                            <p> color={btn.color}</p>
                                            <p>size={btn.size || 'md'}</p>
                                            <p> onClick={() => btn.click(formValue)}</p>
                                            <p>className={`${btn.className} text-base`}</p>
                                            <p> disabled={btn.disabled}</p>
                                            <p> variant={btn.variant || ''}></p>                       
                                            <p>{btn.icon ? (</p>
                                            <p> typeof btn.icon === 'object' ? (</p>
                                            <p> btn.icon ) : (  </p>
                                            <p class="text-code">< CIcon name={btn.icon}</p>
                                            <p>size={btn.size === 'md' ? '' : btn.size || 'sm'}</p>
                                            <p>/>)) : ('')}</p>
                                            <p> {btn.text ? (</p>
                                            <p>  < span  className={`align-bottom d-${</p>
                                            <p>btn.size</p>
                                            <p> }-down-none align-text-top text-xs-none`}></p>
                                            <p> {btn.text}</p>
                                            <p>< /span></p>
                                            <p> ) : ( '' )}</p>
                                            <p> < /CButton></p>
                                            
                                        </code>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <p class="h5 mt-4">IIoT常用ICON - COREUI</p>
                        <div class="row mt-4">
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-pen.svg" class="img-fluid" alt="...">
                                <div class="border-0 px-0">
                                    <div class="card-body border-0 px-0">
                                        <span class="font-weight-bold h6">cil-pen</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4 ">
                                <img src="../img/cil-user.svg" class="img-fluid" alt="...">
                                <div class="border-0 px-0">
                                    <div class="card-body border-0 px-0">
                                        <span class="font-weight-bold h6">cil-user</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-lock-locked.svg" class="img-fluid" alt="...">
                                <div class="border-0 px-0">
                                    <div class="card-body border-0 px-0">
                                        <span class="font-weight-bold h6">cil-lock-locked</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-hamburger-menu.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-hamburger-menu</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-clock.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-clock</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-sync.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cis-sync</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-save.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-save</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-x.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-x</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-trash.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-trash</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-settings.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-settings</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-paperclip.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-paperclip</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-search.svg" class="img-fluid" alt="...">
                                <div class="border-0">
                                    <div class="card-body border-0">
                                        <span class="font-weight-bold h6">cil-search</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-library-add.svg" class="img-fluid" alt="...">
                                <div class="border-0 px-0">
                                    <div class="card-body border-0 px-0">
                                        <span class="font-weight-bold h6">cil-library-add</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4 ">
                                <img src="../img/cil-link-broken.svg" class="img-fluid" alt="...">
                                <div class="border-0 px-0">
                                    <div class="card-body border-0 px-0">
                                        <span class="font-weight-bold h6">cil-link-broken</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-4">
                                <img src="../img/cil-calendar.svg" class="img-fluid" alt="...">
                                <div class="border-0 px-0">
                                    <div class="card-body border-0 px-0">
                                        <span class="font-weight-bold h6">cil-calendar</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <p class="h5 mt-4">IIoT常用ICON - 非COREUI</p>
                        <div class=" mt-4">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <i class="fa-solid fa-location-dot" style="font-size: 48px;"></i>
                                    <div class="border-0 px-0">
                                        <div class="card-body border-0 px-0">
                                            <div class="bg-grey p-2 text-code">

                                                import { ImLocation } from 'react-icons/im';
                                            </div>

                                            <div class="bg-grey p-2 text-code mt-3">
                                                text:<span>
                                                    << /span>
                                                        ImLocation />,
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="h5 mt-4">使用 - 非COREUI</p>
                        <a href="https://react-icons.github.io/react-icons">更多React icon</a>
                        <div class=" mt-1">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-12">

                                    <div class="border-0 px-0">
                                        <div class="card-body border-0 px-0">
                                            <div class="bg-grey p-2 text-code">

                                                import { ICON } from 'react-icons/ICON';
                                            </div>

                                            <div class="bg-grey p-2 text-code mt-3">
                                                text:<span>
                                                    << /span>
                                                        ICON />,
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="h3 mt-4">icon挑選原則</p>
                        <p>1.大部分Button都是outline shape狀態，基於相<a
                                href="https://www.webguide.nat.gov.tw/News_Content.aspx?n=531&s=2989"
                                target="_blank">似性原則</a> ， 外框線繪圖內部留白會是最佳選擇 ,
                            <span class="font-weight-bold">regular</span> or <span class="font-weight-bold">light</span>
                            若無外框線繪圖內部留白可選擇，可視情況選擇<span class="font-weight-bold">solid</span> or
                            <span class="font-weight-bold">thin </span>。避免使用<span
                                class="font-weight-bold">Duotone</span>。
                        </p>

                        <p>2.<span class="font-weight-bold">regular </span>、<span class="font-weight-bold">light
                            </span>、<span class="font-weight-bold">solid</span>、<span
                                class="font-weight-bold">thin</span>、<span
                                class="font-weight-bold">Duotone</span>，樣式呈現可參考<a
                                href="https://fontawesome.com/search?favorites=staff" target="_blank">font
                                awesome</a>分類。此專有名詞用語來自於印刷與文字設計用語沿用到其他設計。</p>
                        <p>3.<span class="font-weight-bold">regular </span>、<span class="font-weight-bold">light
                            </span>、<span class="font-weight-bold">thin</span>差異在外框線粗細regular > light > thin，多數情況下<span
                                class="font-weight-bold">regular </span>會是最好選擇，兼顧大螢幕和小螢幕呈現細節，若要選擇<span
                                class="font-weight-bold">light </span>，
                            須注意在不同裝置上呈現狀態。<span class="font-weight-bold">thin</span>在大尺寸螢幕上有可能看不清楚細節。</p>

                        <p class="h5 text-sencondary  mt-3">Example 範例 - <span class="text-code">normal/regular</span>
                            vs <span class="text-code">lighter</span> </p>
                        <div class="row">
                            <div class="col-6">
                                <div class="card-body border">

                                    <p class="card-text font-weight-normal">Some quick example text to build on the card
                                        title and make up the bulk of the card's content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.Some quick example text to build on the card title and make up
                                        the bulk of the card's content.
                                    </p>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card-body border">

                                    <p class="card-text font-weight-lighter">Some quick example text to build on the
                                        card title and make up the bulk of the card's content.Some quick example text to
                                        build on the card title and make up the bulk of the card's content.Some quick
                                        example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3">5.某些solid狀態設計也有外框曲線模式，或是剪影挖空方式設計皆可斟酌採用，但<span
                                class="font-weight-bold">solid</span>要注意小尺寸細節消失問題</p>
                        <p class="h5 text-sencondary  mt-3">Example 範例 - solid錯誤選擇 </p>
                        <p>使用 <a href="https://fontawesome.com/icons/cart-plus?s=solid">fontawesome fa-cart-plus </a>
                            ，lg/normal/sm三種不同button尺寸觀看細節變化，
                            除了lg可以清楚觀看add + 符號以外，normal/sm size表現皆不佳 。</p>
                        <div class="row mt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info btn-lg">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    add cart</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    add cart</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info btn-sm">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    add cart</button>
                            </div>

                        </div>
                        <hr>
                        <p class="h5 text-code">Primary choice 優先挑選</p>
                        <p class="">外框曲線設計，放在lg/normal/sm三種不同尺寸皆能呈現清晰細節不模糊失真</p>
                        <div class="row mt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info btn-lg">
                                    <span class="material-icons " style="font-size: 20px;">
                                        add_shopping_cart
                                    </span>add cart
                                </button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info">
                                    <span class="material-icons " style="font-size: 20px;">
                                        add_shopping_cart
                                    </span>
                                    add cart</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info btn-sm">
                                    <span class="material-icons " style="font-size: 20px;">
                                        add_shopping_cart
                                    </span>
                                    add cart</button>
                            </div>

                        </div>
                        <hr>
                        <p class="h5 text-code mt-4">Secondary choice 次優挑選</p>
                        <p>雖然此icon分類在solid，但放在lg/normal/sm三種不同尺寸button皆能有很好瀏覽體驗</p>
                        <div class="row mt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info btn-lg">
                                    <i class="fa-solid fa-hourglass-empty"></i>countdown
                                </button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info">
                                    <i class="fa-solid fa-hourglass-empty"></i>
                                    countdown</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-info btn-sm">
                                    <i class="fa-solid fa-hourglass-empty"></i>
                                    countdown</button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <footer class="c-footer border-top shadow-sm "
                style="display: block; border: 1px; padding: 14px 0px; text-align: center;">
                <span>中華電信股份有限公司版權所有@</span><span>2022~</span>
                <div class="float-md-right px-2"><a href="https://www.cht.com.tw/home/consumer/privacy" target="_blank"
                        class="text-info text-decoration-none"><span>隱私權政策</span></a></div>

            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
        <script src="../js/all.js"></script>
</body>
<script>
    // $('.collapse').on('show.bs.collapse', function () {
    //     $('.collapse.in').each(function () {
    //         $(this).collapse('hide');
    //     });
    // });


</script>

</html>
