<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/all.css">

    <!-- font-awesome icon CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- COREUI icon CDN-->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/all.min.css">


    <title>IIOT Design System</title>
    <!-- 網頁頁枚標籤 -->
    <link rel="icon" href="../favicon.ico" />

</head>

<body class="bg-grayblue ">
    <div class="wrapper">


        <div class="d-flex flex-column flex-lg-row align-items-center p-3 px-md-4  border-bottom shadow-sm ">
            <div class="col-lg-2 com-sm-12 d-flex pl-sm-0">
                <button class="d-md-block d-lg-none  border-0 mr-3 bg-transparent" type="button" data-toggle="collapse"
                    data-target="#slidemenucontent" aria-controls="slidemenucontent" aria-expanded="true"
                    aria-label="Toggle mobile slidemenu">

                    <i class="fa-solid fa-bars text-secondary" style="font-size: 30px;"></i>
                </button>

                <a class="navbar-brand mr-md-auto" href="../index.html" alt="">
                    <img src="../img/logo-zh.png" width="auto" height="47px">
                </a>
                <button class="navbar-toggler d-block d-sm-none ml-auto border-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-square-caret-down text-secondary" style="font-size: 36px;"></i>

                </button>
            </div>
            <div class="col-lg-10 col-sm-12 d-flex justify-content-center">
                <nav class="my-2 my-md-0 mr-md-3 font-weight-bolder nav-masthead w-sm-100 d-none d-sm-block"
                    style="letter-spacing: 1.5px;">
                    <!-- <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none "
                        href="../index.html">Foundations(基礎)</a> -->
                    <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none"
                        href="../design/design.html">Design(設計)</a>
                    <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none  active"
                        href="#">Components(元件)</a>
                    <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none disabled"
                        href="#">Patterns(模板)</a>
                </nav>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class=" d-flex justify-content-sm-start justify-content-md-center ">
                        <nav class="my-2 my-md-0 mr-md-3 font-weight-bolder nav-masthead w-sm-100"
                            style="letter-spacing: 1.5px;">
                            <!-- <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none  active"
                                href="../index.html">Foundations(基礎)</a> -->
                            <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none"
                                href="../design/design.html">Design(設計)</a>
                            <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none "
                                href="#">Components(元件)</a>
                            <a class="p-2 text-dark d-block d-sm-inline-block text-decoration-none disabled"
                                href="#">Patterns(模板)</a>
                        </nav>



                    </div>
                </div>




            </div>
        </div>
        <div class="main-body ">
            <div class="container-fluid  ">
                <div class="row " style="font-size: 18px;">


                    <div class="col-xl-2 col-lg-3 col-md-12 bg-grayblue pt-md-2 ml-4 ml-md-0 px-4 slidemenu-height"
                        style="letter-spacing: 1.5px;line-height: 36px;">
                        <div class="collapse navbar-collapse" id="slidemenucontent">
                            <li class="slidemenu mt-3 mt-md-0 d-flex flex-column" style="list-style: none;">
                                <a href="#colorbook" title="點擊打開Color swatch book" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span>Color swatch book</span>
                                </a>
                                <ul class=" collapse " id="colorbook" style="list-style: none;margin-left: -2.5rem;">
                                    <li class=" ">
                                        <a href="./colorbook-iiot.html" title=""
                                            class="text-decoration-none text-dark  d-block pr-1">
                                            <span class="text-break">[ClassName]IIoT色票</span>
                                        </a>
                                        <a href="./colorbook-haggen.html" title="" class="text-decoration-none text-dark d-block pr-1 ">
                                            <span class="text-break">[ClassName]Haggen色票</span>
                                        </a>
                                    </li>
                                </ul>

                                <a href="#satu" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">Button</span>
                                </a>
                                <ul class=" collapse show" id="satu" style="list-style: none;margin-left: -2.5rem;">

                                    <li class="">
                                        <a href="./components.html" title="" class="text-decoration-none text-dark ">
                                            <span class="text-break">[Principle]Button 顏色x動作</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" title="" class="text-decoration-none active  " disabled>
                                            <span class="text-break">[Principle]Button 默認狀態</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="./btm-principle-shape.html" title=""
                                            class="text-decoration-none text-dark" disabled>
                                            <span class="text-break">[Principle]Button 形狀與位置</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="./btn-code.html" title="" class="text-decoration-none text-dark"
                                            disabled>
                                            <span class="text-break">[Documentation]Button html & css 組成</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="./btn-icon.html" title="" class="text-decoration-none text-dark "
                                            disabled>
                                            <span class="text-break">[Principle]常用icon + button </span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" title="" class="text-decoration-none disabled " disabled>
                                            <span class="text-break">[Components] ButtonList</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CardCollapse" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block ">
                                    <span class="text-break">CardCollapse</span>
                                </a>
                                <ul class="collapse" id="CardCollapse" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="./cardcollapse_principle.html" title=""
                                            class="text-decoration-none text-dark ">
                                            <span class="text-break">[Principle]Card Collapse</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CardCollapse</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CheckBox" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CheckBox</span>
                                </a>
                                <ul class="collapse" id="CheckBox" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CheckBox</span>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#CustomDataTable" title="Manage Your Team" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomDataTable</span>
                                </a>
                                <ul class="collapse" id="CustomDataTable"
                                    style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="./default-table.html" title="" class="text-decoration-none text-dark ">
                                            <span class="text-break">[Principle]default table</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="./card-table.html" title="" class="text-decoration-none text-dark ">
                                            <span class="text-break">[Principle]card table</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]collapse table</span>
                                        </a>
                                    </li>
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CustomDataTable</span>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#CustomFormControl" title="點擊打開CustomFormControl menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomFormControl</span>
                                </a>
                                <ul class="collapse" id="CustomFormControl"
                                    style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]Custom Form Control</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Custom Form Control</span>
                                        </a>
                                    </li>
                                </ul>

                                <a href="#CustomModal" title="點擊打開CustomModal menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomModal</span>
                                </a>
                                <ul class="collapse" id="CustomModal" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]CustomModal</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CustomModal</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CustomScrollbar" title="點擊打開CustomScrollbar menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomScrollbar</span>
                                </a>
                                <ul class="collapse" id="CustomScrollbar"
                                    style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]CustomModal</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]CustomModal</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#CustomTabs" title="點擊打開CustomTabs menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">CustomTabs</span>
                                </a>
                                <ul class="collapse" id="CustomTabs" style="list-style: none;margin-left: -2.5rem;">
                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Principle]Custom Tabs</span>
                                        </a>
                                    </li>

                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Custom Tabs</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#Datetime" title="點擊打開Datetime menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">Datetime</span>
                                </a>
                                <ul class="collapse" id="Datetime" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Datetime</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#LeafletMap" title="點擊打開LeafletMap menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">LeafletMap</span>
                                </a>
                                <ul class="collapse" id="LeafletMap" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]LeafletMap</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#ScrollAction" title="點擊打開ScrollAction menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">ScrollAction</span>
                                </a>
                                <ul class="collapse" id="ScrollAction" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]ScrollAction</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#ScrollTop" title="點擊打開ScrollTop menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">ScrollTop</span>
                                </a>
                                <ul class="collapse" id="ScrollTop" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]ScrollTop</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#Select" title="點擊打開Select menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">Select</span>
                                </a>
                                <ul class="collapse" id="Select" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]Select</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#is8n" title="點擊打開is8n menu" data-toggle="collapse"
                                    class=" font-weight-bolder text-dark text-decoration-none pr-1 d-block">
                                    <span class="text-break">is8n</span>
                                </a>
                                <ul class="collapse" id="is8n" style="list-style: none;margin-left: -2.5rem;">


                                    <li class="slidemenu">
                                        <a href="#" title="" class="text-decoration-none text-dark disabled">
                                            <span class="text-break">[Components]is8n</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </div>



                    </div>


                    <div
                        class="col-xl-10 col-lg-9 col-md-12 pt-5 px-4 bg-white border-left border-right shadow-sm px-5 content-height pb-3">
                        <!-- <h4 class="pb-3">Components(元件) _ [Principle]Button 默認狀態</h4> -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="">Home</a></li>
                                <li class="breadcrumb-item"><a href="">Components</a></li>
                                <li class="breadcrumb-item "><a href="">Button</a></li>
                                <li class="breadcrumb-item active" aria-current="page">[Principle]Button 默認狀態</li>
                            </ol>
                        </nav>
                        <hr>
                        <div class="d-block"><span class="h5">Button - default state 默認狀態</span> <span
                                class="h5 text-code bg-grey">.btn-outline-*</span></div>
                        <p class="pt-2">因為IIoT交互功能較為複雜，若預設狀態為<span class="text-info">實心</span>填色，看起來會像很多 <span
                                class="text-code bg-grey">.ative</span> 狀態</p>
                        <p class="h5 text-sencondary">Example 範例 (1)</p>
                        <div class="row mt-4 ">
                            <div class="col-lg-12 col-xl-6 pr-5 ">
                                <div class="d-block">
                                    <button type="button" class="btn btn-danger rounded-circle btn-sm  "> <i
                                            class="cil-x text-white" style="font-size: 12px;"></i></button>
                                    <span class="font-weight-bold">Don't</span>
                                </div>
                                <div class="d-flex flex-column  mt-3 px-5">
                                    <!-- <div class="red-line bg-danger mb-2">

                                    </div> -->
                                    <img src="../img/01.jpg" class="img-fluid touch-action " alt="...">
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6 mt-xs-5 mt-sm-5 mt-md-0">
                                <div class="d-block">
                                    <button type="button" class="btn btn-success rounded-circle btn-sm  "> <i
                                            class="fa-solid fa-check text-white" style="font-size: 12px;"></i></button>
                                    <span class="font-weight-bold">Do use</span>
                                </div>
                                <div class="d-flex flex-column  mt-3 px-5">
                                    <!-- <div class="red-line bg-success mb-2"> 

                                    </div> -->
                                    <img src="../img/02.jpg" class="img-fluid touch-action " alt="...">
                                </div>
                            </div>

                        </div>
                        <hr class="mt-3">
                        <div class="d-block"><span class="h5">Button - state of exception 例外狀態(2)</span></div>
                        <ul>
                            <li>功能頁<span class="text-info">第一個action</span>，功能頁面剛進入時通常沒有任何資料，此時引導使用者建立
                                新專案</li>
                            <li>或需要進行多個行為，才能完成工作具<span class="text-info">步驟順序引導</span>功能</li>
                        </ul>
                        <p class="h5 text-sencondary">Example 範例( 1 )</p>
                        <div class="row mt-4 ">
                            <div class="col-lg-12 col-xl-6 pr-5 ">
                                <div class="d-block">
                                    <button type="button" class="btn btn-danger rounded-circle btn-sm  "> <i
                                            class="cil-x text-white" style="font-size: 12px;"></i></button>
                                    <span class="font-weight-bold">Don't use</span>
                                </div>
                                <div class="d-flex flex-column  mt-3 px-5">
                                    <!-- <div class="red-line bg-danger mb-2"></div> -->


                                    <img src="../img/03.jpg" class="img-fluid touch-action " alt="...">
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6 mt-xs-5 mt-sm-5 mt-md-0">
                                <div class="d-block">
                                    <button type="button" class="btn btn-success rounded-circle btn-sm  "> <i
                                            class="fa-solid fa-check text-white" style="font-size: 12px;"></i></button>
                                    <span class="font-weight-bold">Do use</span>
                                </div>
                                <div class="d-flex flex-column  mt-3 px-5">
                                    <!-- <div class="red-line bg-success mb-2">  </div>-->


                                    <img src="../img/04.jpg" class="img-fluid touch-action " alt="...">
                                </div>
                            </div>

                        </div>
                        <p class="h5 text-sencondary">Example 範例( 2 )</p>
                        <div class="row mt-2 ">
                            <div class="col-lg-12 col-xl-6 pr-5 ">
                                <div class="d-block">
                                    <button type="button" class="btn btn-danger rounded-circle btn-sm  "> <i
                                            class="cil-x text-white" style="font-size: 12px;"></i></button>
                                    <span class="font-weight-bold">Don't use</span>
                                </div>
                                <div class="d-flex flex-column  mt-3 px-5">
                                    <!-- <div class="red-line bg-danger mb-2"> </div> -->


                                    <img src="../img/05.jpg" class="img-fluid touch-action " alt="...">
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="d-block">
                                    <button type="button" class="btn btn-success rounded-circle btn-sm  "> <i
                                            class="fa-solid fa-check text-white" style="font-size: 12px;"></i></button>
                                    <span class="font-weight-bold">Do use</span>
                                </div>
                                <div class="d-flex flex-column  mt-3 px-5">
                                    <!-- <div class="red-line bg-success mb-2"> </div> -->


                                    <img src="../img/06.jpg" class="img-fluid touch-action" alt="...">
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="d-block"><span class="h5">Button - state of exception 例外狀態(3)</span></div>
                        <p><kbd>.disable</kbd> 狀態，<span class="text-code bg-grey mr-3">.btn-*:disable </span> <span
                                class="text-code bg-grey">.btn-outline-*:disable</span> 皆為<span
                                class="text-info">實心填滿</span></p>
                        <p class="h5 text-sencondary">Example 範例 </p>
                        <div class="row mt-4 ">
                            <div class="col-lg-12 col-xl-6 pr-5 ">

                                <div class="d-flex flex-column  mt-3 px-5">
                                    <div class="boreder">
                                        <button type="button" class="btn btn-info" disabled>+ 建立新專案</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">

                                <div class="d-flex flex-column  mt-3 px-5">
                                    <div class="boreder">
                                        <button type="button" class="btn btn-outline-danger" disabled>
                                            <i class="cil-trash"></i>
                                            刪除設備</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="c-footer border-top shadow-sm "
            style="display: block; border: 1px; padding: 14px 0px; text-align: center;">
            <span>中華電信股份有限公司版權所有@</span><span>2022~</span>
            <div class="float-md-right px-2"><a href="https://www.cht.com.tw/home/consumer/privacy" target="_blank"
                    class="text-info text-decoration-none"><span>隱私權政策</span></a></div>

        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="../js/all.js"></script>
</body>
<script>
    // $('.collapse').on('show.bs.collapse', function () {
    //     $('.collapse.in').each(function () {
    //         $(this).collapse('hide');
    //     });
    // });


</script>

</html>
